.issart-desktop .x-panel-body
{
	background-image: url("images/desktop.jpg") !important;
}

.issart-notepad-icon
{
	background-image: url("images/notepad.png") !important;
}

.issart-profile-icon
{
	background-image: url("images/profile.png") !important;
}

.issart-console-item-content
{
	padding: 0 5 5 5;
}

.issart-console-item-header
{
	color: blue;
	font-weight: bold;
	padding-top: 5px;
}

.issart-console-icon
{
	background-image: url("images/console.png") !important;
}
